---
const navItems = [
    { linkText: 'Accueil', href: '/' },
    { linkText: 'A propos', href: '/a-propos' },
    { linkText: 'Projets', href: '/projets' },
    { linkText: 'Contact', href: '/contact' }
];

const brandName = 'Sabrina B';
const brandTagline = 'Portfolio BTS SIO SISR';
---

<header class="site-header">
    <a href="/" class="site-header__brand">{brandName}</a>
    <div class="site-header__tagline">{brandTagline}</div>
    {
        !!navItems?.length && (
            <nav class="site-header__nav">
                {navItems.map((item) => (
                    <a href={item.href}>{item.linkText}</a>
                ))}
            </nav>
        )
    }
</header>
